<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="pcb-design" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\PCB-Design\venv\Scripts\python.exe|C:\inetpub\wwwroot\PCB-Design\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\PCB-Design\pcb_design" />
        <add key="WSGI_HANDLER" value="pcb_design.wsgi.application" />
        <add key="DJANGO_SETTINGS_MODULE" value="pcb_design.settings" />
    </appSettings>
</configuration>
